// Variables globales del proyecto
$color-primary: #76abca;
$color-primary-dark: #233D4D;
$color-secondary: #FE7F2D;
$color-accent: #cec987;
$color-text: #000000;
$color-text2: #6e6a7e;
$color-light: #f4f2fb;
$color-white: #fefefe;

$border-general: 32px;
$sombra: 0 1rem 2rem #00000000;